/* HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(234, 255, 255, 0.966);
}

main,
section {
    max-width: 1584px;
    margin: 0 auto;
}

.margin-top-20 {
    margin-top: 20px;
}

/* HTML */

/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.nav__logo {
    width: 150px;
    height: 100px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav__list__item {
    list-style: none;
}

.nav__list__item__link {
    text-decoration: none;
    font-size: 1.5em;
}

/* HEADER */

/* HOME */
.home {
    margin: 0 auto;
}

.home__banner {
    max-width: 100%;
}

.home__text {
    margin: 20px;
    font-size: 1.5rem;
}

.home__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home__buttom {
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 20px;
}

.home__buttom--action {
    background-color: rgb(74, 231, 74);
    border: 1px solid rgb(70, 230, 70);
    color: rgb(165, 98, 10);
}

.home__buttom--contact {
    background-color: rgb(207, 231, 74);
    border: 1px solid rgb(203, 230, 71);
    color: rgb(165, 98, 10);
}

/* HOME */

/* SOBRE */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.about__title,
.values__title {
    margin: 20px;
}

.about__text,
.values__list {
    margin: 20px;
}

.values__list__item {
    text-decoration: underline;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* SOBRE */

/* SERVIÇOS */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr;
    margin-bottom: 40px;
}

.service__description {
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
}

.card {
    border: 1px solid rgb(43, 41, 41);
    box-shadow: 0 0 10px rgb(82, 78, 78);
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    text-align: center;
}

.service__design {
    grid-column: 1 / 3;
    grid-row: 2;
}

.service__dev {
    grid-column: 3 / 5;
    grid-row: 2;
}

.service__braning {
    grid-column: 5 / 7;
    grid-row: 2;
}

.service__social {
    grid-column: 2 / 4;
    grid-row: 3;
}

.service__strategy {
    grid-column: 4 / 6;
    grid-row: 3;
}

/* SERVIÇOS */

/* DEPOIMENTOS */
.testimonials {
    text-align: center;
    margin: 40px auto;
}

.testimony__title {
    margin-bottom: 40px;
}

.testimony {
    border: 2px solid #4a667c;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #4a667c, 0 0 10px #617383;
}

/* DEPOIMENTOS */

/* CONTATO */
.contact {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title,
.contact__text {
    margin-bottom: 20px;
}

.contact__info__form {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact__address {
    display: flex;
    flex-direction: column;
}

.form {
    width: 50%;
    border: 1px #505d68 blue;
    border-radius: 10px;
    padding: 20px;
    background-color: #505d68;
    color: white;
    font-weight: 600;
}

.label {
    max-width: 100%;
    width: 30%;
}

.input__group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.input {
    max-width: 100%;
    padding: 10px;
    width: 70%;
    margin-left: 10px;
}

.textarea {
    resize: none;
    height: 100px;
}

/* CONTATO */


/* RODAPE */
.span {
    margin: 40px;
}

.footer {
    padding: 40px 60px;
    color: white;
    background-color: black;
    font-size: 1.5em;
}

/* RODAPE */

@media screen and (max-width: 1584px) {

    .testimonials,
    .services,
    .contact,
    .about,
    .home,
    .nav {
        max-width: 90%;
    }

    .label {
        width: 35%;
    }

    .input {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    main,
    section {
        max-width: 90%;
        margin: 0 auto;
    }

    /* HEADER */
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        gap: 30px;
        margin: 20px 0;
    }

    /* HEADER */

    /* SERVIÇOS */
    .services {
        display: flex;
        flex-direction: column;
    }

    .service__description {
        margin-bottom: 50px;
    }

    .card {
        padding: 30px;
        margin: 20px;
    }

    /* SERVIÇOS */

    /* CONTATO */
    .input__group {
        display: flex;
        flex-direction: column;
    }

    .label, .input {
        width: 100%;
    }

    .label {
        margin-bottom: 5px;
    }

    .input {
        margin: 0;
    }
    /* CONTATO */
}


@media screen and (max-width: 624px) {

    /* HEADER */
    .nav, .nav__list {
        flex-direction: column;
    }
    /* HEADER */

    /* CONTATO */
    .contact__info__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        margin-top: 40px;
        width: 90%;
    }
    /* CONTATO */
}