/* HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(234, 255, 255, 0.966);
}

main,
section {
    max-width: 1584px;
    margin: 0 auto;
}

.margin-top-20 {
    margin-top: 20px;
}

/* HTML */

/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.nav-logo {
    width: 150px;
    height: 100px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-list-item {
    list-style: none;
}

.nav-list-item-link {
    text-decoration: none;
    font-size: 1.5em;
}

/* HEADER */

/* HOME */
.home {
    margin: 0 auto;
}

.home-banner {
    max-width: 100%;
}

.home-text {
    margin: 20px;
    font-size: 1.5rem;
}

.home-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-buttom {
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 20px;
}

.home-buttom-action {
    background-color: rgb(74, 231, 74);
    border: 1px solid rgb(70, 230, 70);
    color: rgb(165, 98, 10);
}

.home-buttom-contact {
    background-color: rgb(207, 231, 74);
    border: 1px solid rgb(203, 230, 71);
    color: rgb(165, 98, 10);
}

/* HOME */

/* SOBRE */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.about-title,
.values-title {
    margin: 20px;
}

.about-text,
.values-list {
    margin: 20px;
}

.values-list-item {
    text-decoration: underline;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* SOBRE */

/* SERVIÇOS */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr;
    margin-bottom: 40px;
}

.service-description {
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
}

.card {
    border: 1px solid rgb(43, 41, 41);
    box-shadow: 0 0 10px rgb(82, 78, 78);
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    text-align: center;
}

.service-design {
    grid-column: 1 / 3;
    grid-row: 2;
}

.service-dev {
    grid-column: 3 / 5;
    grid-row: 2;
}

.service-braning {
    grid-column: 5 / 7;
    grid-row: 2;
}

.service-social {
    grid-column: 2 / 4;
    grid-row: 3;
}

.service-strategy {
    grid-column: 4 / 6;
    grid-row: 3;
}

/* SERVIÇOS */

/* DEPOIMENTOS */
.testimonials {
    text-align: center;
    margin: 40px auto;
}

.testimony-title {
    margin-bottom: 40px;
}

.testimony {
    border: 2px solid #4a667c;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #4a667c, 0 0 10px #617383;
}

/* DEPOIMENTOS */

/* CONTATO */
.contact {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title,
.contact-text {
    margin-bottom: 20px;
}

.contact-info-form {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact-address {
    display: flex;
    flex-direction: column;
}

.form {
    width: 50%;
    border: 1px #505d68 blue;
    border-radius: 10px;
    padding: 20px;
    background-color: #505d68;
    color: white;
    font-weight: 600;
}

.label {
    max-width: 100%;
    width: 30%;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.input {
    max-width: 100%;
    padding: 10px;
    width: 70%;
    margin-left: 10px;
}

.textarea {
    resize: none;
    height: 100px;
}

/* CONTATO */


/* RODAPE */
.span {
    margin: 40px;
}

.footer {
    padding: 40px 60px;
    color: white;
    background-color: black;
    font-size: 1.5em;
}

/* RODAPE */

@media screen and (max-width: 1584px) {

    .testimonials,
    .services,
    .contact,
    .about,
    .home,
    .nav {
        max-width: 90%;
    }

    .label {
        width: 35%;
    }

    .input {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    main,
    section {
        max-width: 90%;
        margin: 0 auto;
    }

    /* HEADER */
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        gap: 30px;
        margin: 20px 0;
    }

    /* HEADER */

    /* SERVIÇOS */
    .services {
        display: flex;
        flex-direction: column;
    }

    .service-description {
        margin-bottom: 50px;
    }

    .card {
        padding: 30px;
        margin: 20px;
    }

    /* SERVIÇOS */

    /* CONTATO */
    .input-group {
        display: flex;
        flex-direction: column;
    }

    .label, .input {
        width: 100%;
    }

    .label {
        margin-bottom: 5px;
    }

    .input {
        margin: 0;
    }
    /* CONTATO */
}


@media screen and (max-width: 624px) {

    /* HEADER */
    .nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
    }

    /* HEADER */

    /* CONTATO */
    .contact-info-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        margin-top: 40px;
        width: 90%;
    }
    /* CONTATO */
}