@use 'variaveis';
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// RESET

// HTML
body {
    background-color: rgba(234, 255, 255, 0.966);
}

main,
section {
    max-width: 1584px;
    margin: 0 auto;
}
// HTML

// CLASSES GERAIS
.margin-top-20 {
    margin-top: variaveis.$spaceDefault;
}
// CLASSES GERAIS