@use 'mixins';
@use 'variaveis';
@use 'sass:math';

/* MENU */
.nav {
    @include mixins.displayFlexSpaceBetween;
    margin: 0 30px;
}

.nav__logo {
    width: 150px;
    height: 100px;
}

.nav__list {
    @include mixins.displayFlexSpaceBetween;
    align-items: center;
    gap: variaveis.$spaceDefault;
}

.nav__list__item {
    list-style: none;
}

.nav__list__item__link {
    text-decoration: none;
    font-size: 1.5em;
}

/* MENU */

/* HOME */
.home {
    margin: 0 auto;
}

// .home__banner {
//     max-width: 100%;
// }

.home__text {
    margin: variaveis.$spaceDefault;
    font-size: 1.5rem;
}

.home__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: variaveis.$spaceDefault;
}

/* HOME */


/* SOBRE */
.about {
    @include mixins.displayFlexDirectionColumn();
    align-items: center;
    margin: 40px auto;
}

.about__title,
.values__title {
    margin: variaveis.$spaceDefault;
}

.about__text,
.values__list {
    margin: variaveis.$spaceDefault;
}

.values__list__item {
    text-decoration: underline;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* SOBRE */

/* SERVIÇOS */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr;
    margin-bottom: 40px;
}

.service__description {
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
}

.service__design {
    grid-column: 1 / 3;
    grid-row: 2;
}

.service__dev {
    grid-column: 3 / 5;
    grid-row: 2;
}

.service__braning {
    grid-column: 5 / 7;
    grid-row: 2;
}

.service__social {
    grid-column: 2 / 4;
    grid-row: 3;
}

.service__strategy {
    grid-column: 4 / 6;
    grid-row: 3;
}

/* SERVIÇOS */

/* DEPOIMENTOS */
.testimonials {
    text-align: center;
    margin: 40px auto;
}

.testimony__title {
    margin-bottom: 40px;
}

.testimony {
    border: 2px solid variaveis.$colorBorderTestimony;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px variaveis.$colorShadownTestimony1, 0 0 10px variaveis.$colorShadownTestimony2;
}

/* DEPOIMENTOS */

/* CONTATO */
.contact {
    margin-top: 120px;
    @include mixins.displayFlexDirectionColumn;
    align-items: center;
}

.contact__title,
.contact__text {
    margin-bottom: variaveis.$spaceDefault;
}

.contact__info__form {
    width: 90%;
    @include mixins.displayFlexSpaceBetween;
}

.contact__address {
    @include mixins.displayFlexDirectionColumn;
}

.label {
    max-width: 100%;
    width: 30%;
}
/* CONTATO */

/* RODAPE */
.span {
    margin: 40px;
}

.footer {
    padding: 40px 60px;
    color: variaveis.$colorWhite;
    background-color: variaveis.$colorBlack;
    font-size: 1.5em;
}

/* RODAPE */