@use 'mixins';
@use 'variaveis';

@media screen and (max-width: 1584px) {

    .testimonials,
    .services,
    .contact,
    .about,
    .home,
    .nav {
        max-width: 90%;
    }

    .label {
        width: 35%;
    }

    .input {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    main,
    section {
        max-width: 90%;
        margin: 0 auto;
    }

    /* HEADER */
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        gap: 30px;
        margin: 20px 0;
    }

    /* HEADER */

    /* SERVIÇOS */
    .services {
        @include mixins.displayFlexDirectionColumn;
    }

    .service__description {
        margin-bottom: 50px;
    }

    .card {
        padding: 30px;
        margin: variaveis.$spaceDefault;
    }

    /* SERVIÇOS */

    /* CONTATO */
    .input__group {
        @include mixins.displayFlexDirectionColumn;
    }

    .label,
    .input {
        width: 100%;
    }

    .label {
        margin-bottom: 5px;
    }

    .input {
        margin: 0;
    }

    /* CONTATO */
}


@media screen and (max-width: 624px) {

    /* HEADER */
    .nav,
    .nav__list {
        flex-direction: column;
    }

    /* HEADER */

    /* CONTATO */
    .contact__info__form {
        @include mixins.displayFlexDirectionColumn;
        align-items: center;
    }

    .form {
        margin-top: 40px;
        width: 90%;
    }

    /* CONTATO */
}