$spaceDefault: 20px;
$colorTextButtons: rgb(165, 98, 10);
$colorButtonAction:rgb(74, 231, 74);
$colorborderAction:rgb(70, 230, 70);
$colorButtonContact:rgb(207, 231, 74);
$colorborderContact:rgb(203, 230, 71);
$colorBorderShadown: rgb(43, 41, 41);
$colorShadown: rgb(82, 78, 78);
$colorBorderTestimony: #4a667c;
$colorShadownTestimony1: #4a667c;
$colorShadownTestimony2: #617383;
$colorForm: #505d68;
$colorWhite: white;
$colorBlack: black;
